html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #16001E;
    --text-color: #330036;
    --stroke-color: #EAF2EF;
    --highlight-color: #55868C;
    --title-font: 'Luckiest Guy', cursive;
    --text-font: 'Patrick Hand', cursive;
}

body {
    background-color: var(--bg-color);
}

main {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    font-family: var(--title-font);
    color: var(--text-color);
    letter-spacing: 2px;
}

h1 {
    font-size: 5rem;
    -webkit-text-stroke: 2px var(--stroke-color);
}

h2 {
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--stroke-color);
}

button {
    cursor: pointer;
    font-family: var(--text-font);
    font-size: 1.3rem;
    color: var(--stroke-color);
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    background-color: transparent;
    transition: color 300ms ease-in-out;
}

button#start {
    border: 4px double var(--highlight-color);
    padding: 10px;
}

button:hover {
    color: var(--highlight-color);
}

section#game {
    width: 80%;
    height: 80%;
    max-width: 1280px;
    max-height: 720px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.avatar {
    width: 80px;
    margin-bottom: 10px;
}

.selection {
    margin-bottom: 40px;
}

.flex {
    display: flex;
}

.box {
    width: 25px;
    height: 25px;
}

.pinkText {
    color: deeppink;
}

.white {
    background-image: url(./assets/img/white-llama.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.black {
    background-image: url(./assets/img/black-llama.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.winterWall {
    background-color: #FFF;
}

.springWall {
    background-color: #ee6f68;
}

.summerWall {
    background-color: dodgerblue;
}

.autumnWall {
    background-color: #551400;
}

.winterBg {
    background-image: url(./assets/img/winter.gif);
}

.springBg {
    background-image: url(./assets/img/spring.gif);
}

.summerBg {
    background-image: url(./assets/img/summer.gif);
}

.autumnBg {
    background-image: url(./assets/img/autumn.gif);
}

.player {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.whitePlayer {
    background-image: url(./assets/img/white-llama.png);
}

.blackPlayer {
    background-image: url(./assets/img/black-llama.png);
}

.hidden {
    display: none;
}