html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #16001E;
    --text-color: #330036;
    --stroke-color: #EAF2EF;
    --highlight-color: #55868C;
    --title-font: 'Luckiest Guy', cursive;
    --text-font: 'Patrick Hand', cursive;
}

main {
    background-color: var(--bg-color);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    font-family: var(--title-font);
    color: var(--text-color);
    letter-spacing: 2px;
}

h1 {
    font-size: 3rem;
    -webkit-text-stroke: 2px var(--stroke-color);
}

h2 {
    font-size: 1.5rem;
    -webkit-text-stroke: 1px var(--stroke-color);
}

button {
    cursor: pointer;
    font-family: var(--text-font);
    font-size: 1.3rem;
    color: var(--stroke-color);
    outline: none;
    border: none;
    margin: 0 5px;
    background-color: transparent;
    transition: color 300ms ease-in-out;
}

button#start {
    border: 4px double var(--highlight-color);
    padding: 10px;
}

button:hover {
    color: var(--highlight-color);
}

.homeBtn {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 1.8rem;
}

.soundBtn {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 1.8rem;
}

section#game {
    width: 100%;
    height: 60%;
    max-width: 1280px;
    max-height: 720px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.avatar {
    width: 80px;
    margin-bottom: 10px;
}

.selection {
    margin-bottom: 40px;
}

.flex {
    display: flex;
}

.box {
    width: 15px;
    height: 15px;
}

.pinkText {
    color: deeppink;
}

.winterWall {
    background-color: #FFF;
    box-shadow: 1px 1px rgb(213, 246, 248);
    border: 1px solid rgb(213, 246, 248);
}

.springWall {
    background-color: #ee6f68;
    box-shadow: 1px 1px pink;
    border: 1px solid pink;
}

.summerWall {
    background-color: dodgerblue;
    box-shadow: 1px 1px skyblue;
    border: 1px solid skyblue;
}

.autumnWall {
    background-color: #551400;
    box-shadow: 1px 1px #e77d01;
    border: 1px solid #e77d01;
}

.winterBg {
    background-image: url(../img/winter.gif);
}

.springBg {
    background-image: url(../img/spring.gif);
}

.summerBg {
    background-image: url(../img/summer.gif);
}

.autumnBg {
    background-image: url(../img/autumn.gif);
}

.closed {
    background-image: url(../img/closedDoor.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: closingDoor 3s;
}

#player {
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.white {
    background-image: url(../img/white-llama.png);
}

.black {
    background-image: url(../img/black-llama.png);
}

.door {
    background: url(../img/door.png) no-repeat right;
    background-size: contain;
}

.controls {
    position: relative;
    height: 80px;
    width: 80px;
}

.control {
    position: absolute;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.up {
    top: 0;
    transform: translate(-50%, -20%);
}

.down {
    bottom: 0;
    transform: translate(-50%, 35%);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left, .right {
    transform: translateY(25%);
}

.hidden {
    display: none;
}

.pageTransition {
    animation: vanish 800ms;
}

.homeTransition {
    position: absolute;
    animation: showUp 600ms;
}

.gameTransition {
    animation: showUp 1s;
}

.popUp {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--bg-color) url(../img/openedDoor.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: showUp 2s;
}

.innerPopUp {
    color: var(--highlight-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.whiteWin, .blackWin {
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 220px;
}

.whiteWin {
    background-image: url(../img/whiteWin.png);
}

.blackWin {
    background-image: url(../img/blackWin.png);
}

.slideRight {
    animation: slideRight 100ms;
}

.slideLeft {
    animation: slideLeft 100ms;
}

.sizeDown {
    animation: sizeDown 100ms;
}

.sizeUp {
    animation: sizeUp 100ms;
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes closingDoor {
    from {
        transform: scale(0.3);
        transform-origin: top;
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideRight {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-30deg);
    }
}

@keyframes slideLeft {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes sizeDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}

@keyframes sizeUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
        -webkit-text-stroke: 2px var(--stroke-color);
    }
    
    h2 {
        font-size: 2rem;
        -webkit-text-stroke: 1px var(--stroke-color);
    }

    .homeBtn {
        left: 20px;
    }
    
    .soundBtn {
        right: 20px;
    }
    
    section#game {
        width: 80%;
        height: 80%;
    }

    .box, #player {
        width: 25px;
        height: 25px;
    }

    .innerPopUp {
        font-size: 2rem;
    }

    .whiteWin, .blackWin {
        width: 330px;
        height: 220px;
        left: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .innerPopUp {
        left: 45%;
    }
}